/* body and background CSS, with keyframe animation for the lotus scroll */
body {
    margin-top: 0;
    margin-bottom: 0;
    background-color:rgb(249, 242, 250);
    font-family:cursive;
    position: relative;
}

body::before {
    content: "";
    background-image: url("/images/lotus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    z-index: -1;
    opacity: 50%; 
}

.animationLotus {
    background-image: url("/images/LotusAnimation-removebg-preview.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 150px;
    position: relative;
    width: 100%;
    height: 550px;
    animation: lotusScroll 3s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    z-index: 1;
}

@keyframes lotusScroll {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: -500px;
    }
} 

/* h1, h2, navbar and welcome paragraph CSS and keyframe animations */
h1 {
    color: rgb(5, 91, 34);
    text-align: center;
}
h2 {
    font-family:sans-serif;
    margin: 10px;
    padding: 20px;
    border: 1px solid green;
}

nav {
 
    background-color: rgb(207, 183, 231);  
    height: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#navbar{
    animation: slideInFromTop 1s ease-out;
}
#Welcome{
    animation: slideInFromTop 0.75s ease-out;
}

@media screen and (max-width:700px)
{
    nav {
        display: flex;
        flex-direction: column;
        height:100px;
        width: 100%;
    }
    #navbar{
        position: sticky;
        top: 0;
        overflow: hidden; 
    }

    body{
        background-color: #c743a1;
    }
    #WelcomePar{
        position: absolute;
    }
}

nav ul {
    margin:0;
    width: 33%;
    position: relative;
    text-align: center;
    height: 100%;
    transition: background-color 0.2s ease-in;
   
}

nav ul:hover{
    background-color: rgb(171, 145, 198);
}

nav ul:hover:after {
    content: '';
    background-image: url('/images/logo.png');
    background-size: cover;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 190px;
}

a {
    text-decoration: none; 
}

ul a {
position: relative;
top:10px;
}

ul:hover a {
    color: rgb(177, 34, 172);
}

 #WelcomePar {
    text-align:center;
    height: 400px;
    width: 375px;
    float: right;
    animation: slideInFromLeft 1s ease-out
 }

  #WelcomeParHead{
     font-size: larger;
     font-weight: bold;
     font-family: "Lucida Handwriting", cursive;
 }

/* Menu table CSS and transitions */
table {
    width: 95%; 
    border: 1px solid green;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
}

th {
  background-color: #aee2aa;
  color: #160f0f;
  font-style: italic;
  letter-spacing: 0.05em;
  padding: 10px;
  border: 1px solid #ddd;
 
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  color: #555;
  width: 500px;
  transition: border 0.1s ease-out; 
  
}
td:hover {
    border: 3px solid rgb(220, 36, 216);
} 

tr {
    background-color: #df9acb;
}

tbody tr{
    border: 1px solid #ddd;
    transition: background-color 0.3s ease-in-out;
}
tbody tr:hover {
  background-color: #e0e0e0;

}

/* Contact form CSS, button key frame and box shadow */
form {
    display: grid;
    margin: 20px;
    width: 250px;
    color:blue;
    padding: 20px;
}

#btn {
width: 80px;
border: 1px solid black;
transition: background-color 0.5s ease-in-out;
transition: color 0.5s ease-in-out;
transition: border 0.1s ease-in-out;
}

#btn:hover{
background-color: #aee2aa;
color:red;
border:3px solid black;
animation: btnScale 3s ease-in;
}

@keyframes btnScale {
    0% {transform: scale(1);}
    50% {transform: scale(1.25);}
    100% {transform: scale(1);}
}

#logo{
    position: absolute;
    margin: 0%;
}
 #my-background{
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 input:focus{
    animation: InputGlow 2s infinite alternate; 

 }

 @keyframes InputGlow {
    0% {box-shadow: 0 0 15px blue;}
    50% {box-shadow: 0 0 15px teal;}
    100% {box-shadow: 0 0 15px blue;}
 } 



